.col-sm-4.col-md-3.proto-content
  .dropdown.drop_menu_location
    %button#dropdownMenu.btn.btn-default.dropdown-toggle{ aria: { expanded: 'false' }, data: { toggle: 'dropdown' }, type: 'button'}
      Action
    %ul.dropdown-menu{ aria: { labelledby: 'dropdownMenu1' } }                      
      %li
        = link_to 'Delete', proto_path(proto), method: :delete, rel: "nofollow", data: { method: "delete" }
      %li
        = link_to 'Edit', edit_proto_path(proto)
  .thumbnail
    = image_tag proto.main_image.image_url, class: 'index-main-image'
    .caption
      %h3
        = link_to proto.title, proto_path(proto)
      .proto-meta
        .proto-user
          = link_to "by #{proto.user.name}", proto_path(proto)
        .proto-posted
          = proto.created_at.to_s(:customized)
      %ul.proto-tag-list.list-inline
        %li
          %a{href: "#", class: "btn btn-default"} iPad
        %li
          %a{href: "#", class: "btn btn-default"} wireframe
