.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to user_path(@proto.user) do
            = image_tag @proto.user.avatar.url, class: 'media-object img-responsive user-image'
        .media-body
          %h4#top-aligned-media.media-heading
            = @proto.title
          .proto-user
            = link_to "by #{@proto.user.name}", user_path(@proto.user)
            %span.degree
              = @proto.user.position
    .col-md-6.text-right
      %button.btn.btn-default
        = image_tag("icon_heart.svg")
        Like
        %span.num 20
  .row
    .col-md-9
      = image_tag @proto.main_image.image_url, class: 'img-responsive proto-image'
    .col-md-3
      %ul.proto-sub-list.list-group
        = render partial: 'sub_image', collection: @proto.sub_images
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p
        = @proto.catchcopy
    .col-md-6
      %h4 Concept
      %p
        = @proto.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          %a{href: "#", class: "btn btn-default"} iPad
        %li
          %a{href: "#", class: "btn btn-default"} wireframe
  .row.proto-comments
    %h4.col-md-12   Comments
    %span.num
      = @proto.comments.count
    .col-md-8#comment-list
      = render partial: 'shared/comment', collection: @proto.comments
    %h4 Write a comment
    .row
    = form_for [ @proto, @comment ], role: 'form', class: 'form-inline', remote: 'true' do |f|
      = f.text_area :text, placeholder: "Your comments", rows: "3", class: "form-group col-md-10", id: 'comment-text'
      = f.submit 'Comment', class: 'btn btn-primary col-md-2 form-group'
